<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="display-4">Editing Ticket</h1>
      </div>
    </div>
    <div class="float-right">
      <%= link_to 'Show', @ticket, class:"btn btn-info btn" %>
      <%= link_to 'Back', tickets_path, class:"btn btn-secondary btn" %>
    </div>
  </div>
</section>
<div class="container">
	<%= render 'form' %>
</div>